.home {
  display: flex;

  .home-container {
    flex: 6;

    .widgets,
    .charts {
      display: flex;
      gap: 20px;
      padding: 20px;
    }

    .charts {
      padding: 5px 20px;
    }

    .list-container {
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.5);
      padding: 20px;
      margin: 20px;

      .list-title {
        margin-bottom: 15px;
        font-weight: 500;
        color: gray;
      }
    }
  }
}
