.home {
  display: flex;

  .home-container {
    flex: 6;

    .widgets,
    .charts {
      display: flex;
      gap: 20px;
      padding: 20px;
    }

    .charts {
      padding: 5px 20px;
    }
  }
}
