.app.dark {
  background-color: #222;
  color: rgb(156, 156, 156);

  .chart-grid {
    stroke: rgba(228, 228, 228, 0.219);
  }

  .table {
    background-color: #111;

    .table-cell {
      color: gray;
    }
  }

  .navbar {
    color: #999;
    border-color: #444;

    .search {
      border-color: gray;
    }
  }

  .sidebar {
    background-color: #111;
    border-color: #333;

    .top {
      .logo {
        color: #999;
      }
    }

    hr {
      border-color: #444;
    }

    ul {
      li:hover {
        background-color: #333;
      }
    }
  }

  .datatable {
    .data-grid {
      color: gray;
      border: none;

      .btn-view,
      .btn-delete,
      .cell-with-status {
        color: gray;
        border: none;
      }
    }
  }

  input {
    background-color: transparent;
  }
}
